.login{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.login-box{
    width:500px;
    height:500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 105, 186, 0.5);
    align-items: center;
    border-radius:10px;

}
.login-box>h1{
    font-size: 60px;
     margin: 50px; 
    color: blue;
}
.login-box>input{
    margin-bottom: 10px;
    width:400px;
    height: 40px;
    border-radius:10px;
    font-size: 18px;
    padding-left: 10px;
    border:none; 
    outline-color: blue;
}

.login-box>button{
    margin-top: 50px;
    width:100px;
    height:30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color:white;
    
  

}
.login-box>button:hover{
    background-color: antiquewhite;
    }


